* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 100px auto 100px;
    grid-template-areas: "hd hd"
                        "sidebar main"
                        "footer footer";
}

header {
    background: orange;
    grid-area: hd;
}
aside {
    background: gray;
    grid-area: sidebar;
}
main {
    background: gray;
    grid-area: main;
}
footer {
    background: blue;
    text-align: center;
    grid-area: footer;
}